<div flex-gt-md="60" flex-offset-gt-md="20" layout="column" layout-align="center">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Create a new member</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="form">
        <div layout-gt-xs="row">

          <div class="createMember__picture" layout="column" layout-align="center center" flex flex-order-gt-xs="2" >
            <img ng-if="vm.croppedPicture"
                 ng-src="{{vm.croppedPicture}}"
                 ng-click="vm.dialogPicture()"
                 class="createMember__picture__image"/>

            <md-button ng-if="!vm.croppedPicture" tabindex="-1"
                       class="md-fab createMember__picture__icon" style="width: inherit;height: inherit"
                       ngf-select ngf-capture="'camera'" ng-model="vm.picFile" accept="image/*">
              <md-icon md-svg-icon="addPhoto"></md-icon>
            </md-button>
          </div>



          <div flex layout="column" flex-order-gt-xs="1">
            <md-input-container class="md-block" flex-gt-xs>
              <label>First name</label>
              <input name="firstName" ng-model="vm.member.firstName"
                     required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Last name</label>
              <input name="lastName" ng-model="vm.member.lastName"
                     required>
            </md-input-container>
          </div>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input name="email" ng-model="vm.member.email"
                   required minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="form.email.$dirty && form.email.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 5 and 100 characters long  e-mail address.
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Address</label>
            <input name="Address" ng-model="vm.member.Address"
                   required>
          </md-input-container>
        </div>
        <div>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Phone Number</label>
            <input name="phone" ng-model="vm.member.phone"
                   required/>
          </md-input-container>
        </div>

        <div flex layout="row" layout-align="space-between">
          <md-datepicker class="md-block" name=birthday ng-model="vm.member.birthday" md-placeholder="day of birth">
          </md-datepicker>

        </div>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-disabled="form.$invalid">Create</md-button>
    </md-card-actions>
  </md-card>
</div>


