<md-list class="timeline">
  <md-list-item ng-repeat="event in timelineCtrl.events | filter:timelineCtrl.filter:true"
                ng-click="timeline.select(event)"
                flex layout="row" layout-align="space-around center"
                class="timeline__item">
    <div flex="15" class="timeline__item__date">
      {{event.date | date:'MMM d, y'}}
    </div>
    <div flex-gt-xs="10" flex-xs="20" class="timeline__item__icon"><md-icon md-svg-icon="{{event.icon}}"></md-icon></div>
    <div flex>{{event.title}}</div>
  </md-list-item>
</md-list>