@color_primary: #607D8B;
@color_primary_dark: #455A64;
@color_primary_light: #CFD8DC;
@color_text_primary: #212121;
@color_accent: #ff4081;
@color_divider: #B6B6B6;


html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  margin: 0px;
  padding: 0px;
  color:@color_text_primary;
}

.notImplementedYet {
  cursor: not-allowed;
}


md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
}

#content  {
  padding-left: 1*8px;
  padding-right: 1*8px;
  padding-top: 5px;
}


#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button > md-icon {
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

.side-bar__menu__item {
  color:@color_primary;
}

.side-bar__menu__item__icon {
  position: relative;
  width: 128px;
  height: 128px;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
  svg {
    fill:@color_primary;
  }
}

.selected {
  color: @color_accent;
  md-icon svg {
      fill: @color_accent;
  }
}

.search__input-contrainer__icon{
  cursor: pointer;
}


.member-list__icon {
 svg {
    fill: @color_primary;
  }
}

.member-list__icon:hover {
  svg {
    fill: @color_accent;
  }
}

.timeline__item__date {
  color:@color_primary_light;
  margin:8px;
}
.timeline__item__icon {
  margin-top: -20px;
  vertical-align: middle;
  svg {
    background-color:@color_primary;
    border-radius: 50%;
    padding: 5px;
    color:white;
    fill:white;
    border: 1px solid @color_primary_dark;
  }
}

.timeline__item__icon:after {
  position: relative;
  top: 33*1px;
  left: -1*8px;
  display: inline-block;
  border-right: 4px solid @color_primary_dark;
  border-bottom: 12px solid @color_primary_dark;
  height:2px;
  content: " ";
  z-index: 100;
}

.timeline__item:hover{
  background-color: lighten(@color_divider, 20%);
  color:@color_text_primary;
  .timeline__item__icon{
    svg {
      background-color:@color_accent;
    }
  }
  .timeline__item__date{
    color:@color_text_primary;
  }
}

.timeline__item:last-of-type .timeline__item__icon:after{
  top: 31px;
  border-right: 2px dotted @color_primary_dark;
  border-left: 2px dotted @color_primary_dark;
  border-bottom:none;
  height: 12px;
}

.timeline:hover {
  color:lighten(@color_text_primary,50%);
}


.cropArea {
  overflow: hidden;
  width: 500px;
  height:350px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.createMember__picture {
  cursor: pointer;
}

.createMember__picture__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.createMember__picture__icon {
  border-radius: 50%;
  zoom:1.75;
}


