<div class="action-bar" flex layout="row" layout-align="space-between">
  <div layout="row" flex ng-if="vm.displaySelection()"
       class="action-bar__items">
    <a class="md-button md-fab" href="mailto:{{vm.getMails()}}">
      <md-icon md-svg-icon="mail"></md-icon>
    </a>
    <a class="md-button md-fab" href="sms:{{vm.getSMS()}}">
      <md-icon md-svg-icon="sms"></md-icon>
    </a>
  </div>

  <div class="action-bar" ng-show="vm.displayActions"  flex layout="row" layout-align="end center">
    <md-button class="md-fab" ui-sref="sessions.edit({id:''})" aria-label="add a session">
      <md-icon md-svg-icon="addSession"></md-icon>
    </md-button>
    <md-button class="md-fab" ui-sref="members.edit({id: ''})" aria-label="add a member">
      <md-icon md-svg-icon="addMember"></md-icon>
    </md-button>

    <md-button class="md-fab" ng-click="vm.displayActions=false" aria-label="filter members">
      <md-icon md-svg-icon="search"></md-icon>
    </md-button>
  </div>
</div>

<div layout="row" ng-if="!vm.displayActions" flex>
  <md-input-container flex>
    <md-icon class="search__input-contrainer__icon" md-svg-icon="clear" ng-click="vm.displayActions=true"></md-icon>
    <label>Search    </label>
    <input ng-model="vm.search" title="filter members" auto-focus ng-keydown="vm.removeOnBackspace($event)">
  </md-input-container>
</div>

<md-card>
  <md-card-content>
    <md-list>
      <md-list-item
          ng-repeat="member in vm.members| filter:{$:vm.search}" class="member-list__item">
        <md-checkbox ng-model="member.selected"></md-checkbox>
        <div flex layout="row" layout-align="space-between" ui-sref="members.details({id: member._id})">
          <img alt="{{member.name}}" ng-src="{{member.picture}}" class="md-avatar md-whiteframe-2dp" />
          <p flex layout="row" layout-align="space-between" class="member-list__name">
            <span>{{member.name}}</span>
            <span flex="20">{{member.seanceLeft}}</span>
          </p>
          <div hide-xs flex layout="row" layout-align="space-around center">
            <md-icon md-svg-icon="addSeance" class="member-list__icon"></md-icon>
            <md-icon md-svg-icon="mail" class="member-list__icon"></md-icon>
            <md-icon md-svg-icon="edit" ui-sref="members.edit({id: member.id})" class="member-list__icon"></md-icon>
          </div>
          <div hide-gt-xs>
            <md-icon md-svg-icon="moreMenuHor"></md-icon>
          </div>
        </div>
        <md-divider md-inset></md-divider>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
