<div flex-gt-md="60" flex-offset-gt-md="20" layout-align="center">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Add seances</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="form">
        <div layout-gt-xs="row">
            <md-input-container flex layout="column">
              <label>Member</label>
              <md-select ng-model="vm.member" ng-model-options="{trackBy: '$value._id'}">
                <md-option ng-repeat="member in vm.members" ng-value="member" style="padding:5px;">
                  <div flex layout="row" style="padding-bottom:15px;">
                    <img alt="{{member.name}}" ng-src="{{member.picture}}" style="border-radius:100%; max-width: 50px; max-height: 50px; padding-top:5px;"/>
                    <span flex style="margin:auto; margin-left:5px;">{{member.name}}</span>
                  </div>
                </md-option>
              </md-select>
            </md-input-container>
        </div>

        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Abonment">
            <md-content class="md-padding">
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('season')}" ng-click="vm.select('season')">Season</md-button>
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('half-season')}" ng-click="vm.select('half-season')">half-season</md-button>
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('quart-season')}" ng-click="vm.select('quart-season')">quart-season</md-button>
            </md-content>
          </md-tab>
          <md-tab label="Ticket">
            <md-content class="md-padding">
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('1')}" ng-click="vm.select('1')">1 seance</md-button>
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('5')}" ng-click="vm.select('5')">5 seances</md-button>
              <md-button class="md-raised" ng-class="{'md-accent' : vm.isSelected('10')}" ng-click="vm.select('10')">10 seances</md-button>
            </md-content>
          </md-tab>
        </md-tabs>

        <!--<div flex layout="row" layout-align="space-between">
          <md-datepicker class="md-block" name=birthday ng-model="vm.member.birthday" md-placeholder="day of birth">
          </md-datepicker>
        </div>-->
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-disabled="!vm.member || !vm.selection" ng-click="vm.save()">add</md-button>
    </md-card-actions>
  </md-card>
</div>

